{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set displayQuestion = content.question %}
{% set displayQuestionHint1 = content.hint1 %}
{% set displayQuestionHint2 = content.hint2 %}


{% block form_content %}
  {% call govukFieldset({
  legend: {
  text: displayQuestion | safe,
  classes: "govuk-fieldset__legend--l",
  isPageHeading: true
  }
  }) %}
<p class="govuk-hint">{{ displayQuestionHint1 }}</p>
<p class="govuk-hint">{{ displayQuestionHint2 }}</p>



{{ govukInput({
label: {
  text: content.grossHint400 | replace("{ihtGifts}", globals.links.ihtGifts) | safe
  },
  id: "grossValueField",
  name: "grossValueField",
  value: fields.grossValueField.value | safe,
  errorMessage: { text: fields.grossValueField.errorMessage | safe } if fields.grossValueField.errorMessage,
  attributes: {
  maxlength: 13
  },
prefix: {
  text: content.poundSymbol | safe
  },
  classes: "govuk-!-width-one-third"
}) }}
{{ govukInput({
label: {
  text: content.netHint400 | safe
  },
  id: "netValueField",
  name: "netValueField",
  value: fields.netValueField.value | safe,
  errorMessage: { text: fields.netValueField.errorMessage | safe } if fields.netValueField.errorMessage,
  attributes: {
  maxlength: 13
},
prefix: {
text: content.poundSymbol | safe
},
classes: "govuk-!-width-one-third"
}) }}
{% endcall %}

<div class="govuk-form-group">
  {{ govukButton({
  text: common.saveAndContinue | safe,
  preventDoubleClick: true
  }) }}
</div>
{% endblock %}
