{% set relationshipType = '' %}
{% if executor.coApplicantRelationshipToDeceased == "optionChild" %}
    {% set relationshipType = 'Child' %}
{% elif executor.coApplicantRelationshipToDeceased == "optionSpouseOrCivilPartner" %}
    {% set relationshipType = 'Spouse or Civil Partner' %}
{% elif executor.coApplicantRelationshipToDeceased == "optionGrandchild" %}
    {% set relationshipType = 'Grandchild' %}
{% elif executor.coApplicantRelationshipToDeceased == "optionParent" %}
    {% set relationshipType = 'Parent' %}
{% elif executor.coApplicantRelationshipToDeceased == "optionSibling" %}
    {% set relationshipType = 'Sibling' %}
{% elif executor.coApplicantRelationshipToDeceased == "optionOther" %}
    {% set relationshipType = 'Other' %}
{% endif %}

{{checkanswer(
    items = [
        {
            question: fields.summary.otherExecutorRelationshipToDeceased.value,
            answer: relationshipType,
            visible: true
        }
    ],
    url = content.CoApplicantRelationshipToDeceased.url  | replace("*", loop.index0 ),
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.CoApplicantName.question,
            answer: executor.fullName,
            visible: true
        }
    ],
    url = content.ExecutorsNamed.url | replace("*", loop.index0 ),
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{% set adoptedInAnswer = '' %}
{% if executor.childAdoptedIn == "optionNo" %}
    {% set adoptedInAnswer = 'No' %}
{% elif executor.childAdoptedIn == "optionYes" %}
    {% set adoptedInAnswer = 'Yes' %}
{% endif %}
{{checkanswer(
    items = [
        {
            question: fields.summary.adoptedIn.value,
            answer: adoptedInAnswer,
            visible: true
        }
    ],
    url = content.AdoptedIn.url | replace("*", loop.index0 ),
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{% set adoptedOutAnswer = '' %}
{% if executor.childAdoptedOut == "optionNo" %}
    {% set adoptedOutAnswer = 'No' %}
{% elif executor.childAdoptedOut == "optionYes" %}
    {% set adoptedOutAnswer = 'Yes' %}
{% endif %}
{{checkanswer(
    items = [
        {
            question: fields.summary.adoptedOut.value,
            answer: adoptedOutAnswer,
            visible: true
        }
    ],
    url = content.adoptedOut.url | replace("*", loop.index0 ),
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: fields.summary.otherExecutorEmail.value,
            answer: executor.email,
            visible: true
        }
    ],
    url = content.ExecutorAddress.url | replace("*", loop.index0 ),
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: fields.summary.otherExecutorAddress.value,
            answer: executor.address.formattedAddress,
            visible: true
        }
    ],
    url = content.ExecutorAddress.url | replace("*", loop.index0 ),
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}
