{{checkanswer(
    items = [
        {
            question: content.JointApplication.question,
            answer: 'Yes' if (fields.executors.list and fields.executors.list.value and (fields.executors.list.value | length) > 1) else ('No' if (fields.executors.list and fields.executors.list.value) else ''),
            visible: true
        }
    ],
    url = content.JointApplication.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}
